#contact {
  display: flex;
  flex-direction: column;
  padding: 1px 0 30px;
  text-align: center;
  background: #252934;
}

form {
  /* display: block; */
  width: 90%;
  max-width: 500px;
  margin: 30px auto 0;
  /* padding: 0 20px; */
}

form p {
  visibility: hidden;
  height: 0;
  margin: 0;
}

form p.visible {
  visibility: visible;
  height: 16px; 
  margin-bottom: 15px;
}

#sent {
  color: green;
}
#incomplete, #error {
  color: red;
}

input, textarea, button {
  display: block;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  border: 0;
  padding: 10px 15px;
  background: #151b21;
  font-size: 12pt;
  margin-bottom: 3px;
  color: #fff;
}

textarea {
  min-height: 150px;
  margin-bottom: 15px;
  margin-right: 0 !important;
  font-family: Helvetica;
}

button[type=submit] {
  max-width: 100px;
  border: 2px solid #fff;
  background: transparent;
  float: right;
  cursor: pointer;
}

#contact img {
  display: block;
  margin: 20px auto 0;
  width: 50px;
  cursor: pointer;
}