#hero {
  height: 100vh;
	background: linear-gradient(112deg, white calc(49% - 1px), #9ab7a2 49%);
}

.header {
  display: flex;
  justify-content: space-between;
	align-items: flex-start;
  padding: 15px;
}

.header span {
	cursor: pointer;
	font-weight: 500;
}

.header-links {
  display: flex;
}

.header-links span {
	margin-left: 15px;
	padding: 3px 5px;
}

.header-links span:hover {
  color: #2f4456;
}

.logo {
	border: 1px solid grey;
	padding: 5px 3px 3px 3px !important;
	border-radius: 3px;
}

.caption {
	margin-top: 25vh;
	margin-left: 10vh;
}

.caption h4 {
	font-weight: 300;
	margin-top: 0;
}

.caption h1 {
  font-size: 50px;
  margin: 0 0 16px;
}

.laptop {
	width: 350px;
	position: absolute;
	right: 14%;
	bottom: 50px;
}

.laptop img {
	width: 100%;
}

@media screen and (max-width: 1000px) {
  .caption h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 800px) {
	#hero {
		background: linear-gradient(130deg, white calc(49% - 1px), #9ab7a2 49%);
	}

	.caption {
		margin-left: 5vh;
	}

	.laptop {
		width: 300px;
	}
}

@media screen and (max-width: 500px) {
	.laptop {
		width: 200px;
		right: 30px;
		bottom: 30px;
	}

	.caption {
		margin-top: 20vh;
		margin-left: 2vh;
	}
}