#hero {
  height: 100vh;
  background: #2a2a2a;
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 15px;
}

.header span {
  cursor: pointer;
  font-weight: 500;
  font-weight: bold;
}

.header-links {
  display: flex;
}

.header-links span {
  margin-left: 15px;
  padding: 3px 5px;
  color: #fff;
}

.header-links span:hover {
  color: grey;
}

.logo {
  border: 1px solid grey;
  padding: 5px 3px 3px 3px !important;
  border-radius: 3px;
  color: #fff;
}

.caption {
  margin-top: 25vh;
  margin-left: 10vh;
  color: #fff;
}

.caption h4 {
  font-weight: 300;
  margin-top: 0;
}

.caption h1 {
  font-size: 50px;
  margin: 0 0 16px;
}

.laptop {
  width: 350px;
  position: absolute;
  right: 14%;
  bottom: 50px;
}

.laptop img {
  width: 100%;
}

.scroll {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  text-align: center;
  color: #fff;
}

@media screen and (max-width: 1000px) {
  .caption h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 800px) {
  .caption {
    margin-left: 5vh;
  }

  .laptop {
    width: 300px;
  }
}

@media screen and (max-width: 500px) {
  .laptop {
    width: 200px;
    right: 30px;
    bottom: 30px;
  }

  .caption {
    margin-top: 20vh;
    margin-left: 2vh;
  }
}
