body {
  margin: 0;
  font-family: Helvetica;
  text-rendering: optimizeLegibility;
  background-color: #fff;
  color: #777;
}

.bg-img {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-img-1 {
  min-height: 100vh;
  background-image: url('../imgs/bg-img-1.png');
}

.bg-img-2 {
  min-height: 400px;
  background-image: url('../imgs/bg-img-4.png');
}

.bg-img-3 {
  min-height: 400px;
  background-image: url(https://images.unsplash.com/photo-1505765050516-f72dcac9c60e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);
}

.text {
  color: #777;
  background-color: white;
  text-align: center;
  padding: 50px 80px;
  text-align: justify;
}

.caption {
 text-align: center;
 position: absolute;
 text-transform: uppercase;
 width: 100%;
 transform: translateY(10vw);
}

.caption h1 {
  font-size: 6vw;
  color: #fff; 
  letter-spacing: 0.4rem;
  font-weight: 700;
  margin: 0 0 1vw 0;
  padding: 0;
}

.caption p {
  font-size: 2vw;
  color: #fff;
  margin: 0;
}

.hero-image {
 height: 100%;
}

/* p {
 padding: 3rem;
 letter-spacing: 0.05rem;
 line-height: 1.5;
} */