body {
  margin: 0;
  font-family: Helvetica;
  text-rendering: optimizeLegibility;
  background-color: #fff;
  color: #777;
}

img {
  opacity: 0.65;
}

img:nth-of-type(1) {
  height: 100vh;
}

.bg-img {
  position: relative;
  opacity: 0.65;
  /* background-attachment: fixed; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-img-1 {
  min-height: 400px;
  background-image: url('../imgs/bg-img-2.png');
}

.bg-img-2 {
  min-height: 400px;
  background-image: url('../imgs/bg-img-3.png');
}

.text {
  color: #777;
  background-color: white;
  text-align: center;
  padding: 50px 80px;
  text-align: justify;
}

.caption {
 text-align: left;
 position: absolute;
 text-transform: uppercase;
 width: 100%;
 bottom: 33vw;
 left: 7vw;
}

.caption h1 {
  font-size: 6vw;
  color: #fff; 
  letter-spacing: 0.4rem;
  font-weight: 700;
  margin: 0 0 1vw 0;
  padding: 0;
}

.caption p {
  font-size: 2vw;
  color: #fff;
  margin: 0;
}

/* p {
 padding: 3rem;
 letter-spacing: 0.05rem;
 line-height: 1.5;
} */