body {
  margin: 0;
  font-family: Helvetica;
  text-rendering: optimizeLegibility;
  background-color: #fff;
  color: #777;
}

/* .hero {
  opacity: 0.65;
  background-image: url('../imgs/hero.png');
  height: 100vh;
  background-size: cover;
} */

img {
  opacity: 0.65;
}

img:nth-of-type(1) {
  min-height: 100vh;
  /* width: 100%; */
}

.simpleParallax {
  height: 100vh;
}

.bg-img {
  position: relative;
  opacity: 0.65;
  /* background-attachment: fixed; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-img-1 {
  min-height: 400px;
  background-image: url('../imgs/group.png');
}

.bg-img-2 {
  min-height: 400px;
  background-image: url('../imgs/simon.png');
}

.bg-img-3 {
  min-height: 400px;
  background-image: url('../imgs/roguelike.png');
}

.text {
  color: #777;
  background-color: white;
  text-align: center;
  padding: 50px 80px;
  text-align: justify;
}

.caption {
 text-align: left;
 position: absolute;
 text-transform: uppercase;
 /* width: 100%; */
 bottom: 33vh;
 left: 7vw;
}

.caption h1 {
  font-size: 6vw;
  color: #fff; 
  letter-spacing: 0.4rem;
  font-weight: 700;
  margin: 0 0 1vw 0;
  padding: 0;
}

.caption p {
  font-size: 1.5vw;
  color: #fff;
  margin: 0;
}

/* p {
 padding: 3rem;
 letter-spacing: 0.05rem;
 line-height: 1.5;
} */

@media screen and (min-width: 1650px) {
  img {
    width: 100%;
  }
}