#projects {
  padding: 30px 0 0;
}

h2 {
  color: gray;
	margin: 0;
  text-align: center;
	font-size: 26px;
}

.project-desc {
  color: gray;
  padding: 25px 30px;
	max-width: 1200px;
	margin: 0 auto;
}

.bg-img {
  position: relative;
  opacity: 0.65;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-img-1 {
  min-height: 400px;
  background-image: url("../imgs/group.png");
}

.bg-img-2 {
  min-height: 400px;
  background-image: url("../imgs/simon.png");
}

.bg-img-3 {
  min-height: 400px;
  background-image: url("../imgs/roguelike.png");
}

.bg-img-4 {
  min-height: 400px;
  background-image: url("../imgs/wklog.png");
}

.bg-img-5 {
  min-height: 400px;
  background-image: url("../imgs/modelling.png");
}

.bg-img-6 {
  min-height: 400px;
  background-image: url("../imgs/hackernews.png");
}

.bg-img-7 {
  min-height: 400px;
  background-image: url("../imgs/reddit.png");
}

@media screen and (max-width: 600px) {
  .project-desc {
    padding: 10px 15px;
  }
  .project-desc h3 {
    font-size: 17px;
  }
  .project-desc p {
    font-size: 14px;
  }
}