#projects h2 {
  color: gray;
  margin-top: 50px;
}

.project-desc {
  color: #777;
  background-color: white;
  text-align: center;
  padding: 25px 30px;
  text-align: left;
}

@media screen and (max-width: 600px) {
  .project-desc {
    padding: 10px 15px;
  }
  .project-desc h3 {
    font-size: 17px;
  }
  .project-desc p {
    font-size: 14px;
  }
}