#projects {
  padding: 30px 0 0;
}

#projects h2 {
  color: gray;
  /* margin: 0; */
  text-align: center;
  font-size: 26px;
}

.project-desc {
  color: rgb(80, 80, 80);
  padding: 25px 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.bg-img {
  position: relative;
  opacity: 0.65;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
}

.bg-img-1 {
  background-image: url("../imgs/group.png");
}

.bg-img-2 {
  background-image: url("../imgs/reddit.png");
}

.bg-img-3 {
  background-image: url("../imgs/modelling.png");
}

.bg-img-4 {
  background-image: url("../imgs/hackernews.png");
}

.bg-img-bfo {
  background-image: url("../imgs/bfo.png");
  background-position: bottom;
}

@media screen and (max-width: 600px) {
  .project-desc {
    padding: 10px 15px;
  }

  .project-desc h3 {
    font-size: 17px;
  }

  .project-desc p {
    font-size: 14px;
  }
}
